.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact__list {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem var(--spacing-8, 2rem);
  align-self: stretch;
  flex-wrap: wrap;
}

.contact__item {
  display: flex;
  min-width: 11.875rem;
  max-width: max-content;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.contact__link {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  flex: 1 0 0;
  flex-wrap: wrap;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.contact__link:focus {
  outline: 0.125rem solid var(--Gray-Light, #acb1c3);
  outline-offset: 0.125rem;
}

.contact__link:active {
  transform: translateY(0);
}

.contact__icon {
  display: flex;
  padding: 0.5625rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  background: var(--Gray-Dark, #47516b);
  transition: background-color 0.2s ease-in-out;
}

.contact__title {
  color: var(--Gray-Light, #acb1c3);

  /* text-xl/normal */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-xl, 1.25rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-7, 1.75rem); /* 140% */
  letter-spacing: var(--font-letter-spacing-normal, 0rem);
}

.contact__info {
  color: var(--Gray-Lightest, #e2e6ee);

  /* text-base/normal */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-base, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-6, 1.5rem); /* 150% */
  letter-spacing: var(--font-letter-spacing-normal, 0rem);
}
