<section class="education">
  <h2 class="education__title">Education</h2>
  <div class="education__content">
    @for (education of education; track $index) {
    <section class="education__item">
      <header class="education__item-header">
        @if (education.logo) {
        <app-image
          [name]="education.logo.name"
          [alt]="education.logo.name"
          [height]="education.logo.height"
          [width]="education.logo.width"
          [type]="'companies-logo'"
        ></app-image>
        }

        <div class="education__item-content">
          <h3 class="education__item-title">
            {{ education.title }}
          </h3>
          <p class="education__item-date">
            <app-image
              [name]="'calendar.svg'"
              [alt]="'calendar'"
              [height]="16"
              [width]="16"
              [type]="'icons'"
            ></app-image>
            {{ education.startDate }}
            @if (education.endDate) { - {{ education.endDate }}
            }
          </p>
        </div>
      </header>
      <ul class="education__item-achievements">
        @for (achievement of education.achievements; track $index) {
        <app-ra-item [isLast]="!($index === education.achievements.length - 1)">
          {{ achievement }}
        </app-ra-item>
        }
      </ul>
    </section>
    }
  </div>
</section>
