<section class="education">
  <h2 class="education__title">Education</h2>
  <div class="education__content">
    @for (data of dataList; track $index) {
    <section class="education__item">
      <header class="education__item-header">
        @if (data.logo) {
        <app-image
          [name]="data.logo.name"
          [alt]="data.logo.name"
          [height]="data.logo.height"
          [width]="data.logo.width"
          [type]="'companies-logo'"
        ></app-image>
        }

        <div class="education__item-content">
          <h3 class="education__item-title">
            {{ data.title }}
          </h3>
          <app-dates-range
            [startDate]="data.startDate"
            [endDate]="data.endDate"
          ></app-dates-range>
        </div>
      </header>
      <ul class="education__item-achievements">
        @for (achievement of data.achievementList; track $index) {
        <app-ra-item [isLast]="!($index === data.achievementList.length - 1)">
          {{ achievement }}
        </app-ra-item>
        }
      </ul>
    </section>
    }
  </div>
</section>
