.project-gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-gallery {
  padding: 56px;
  background: var(--Gray-Dark, #47516b);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06) inset;
}
