.skill__list {
  display: flex;
  max-width: var(--breakpoint-xl, 80rem);
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--spacing-6, 1.5rem) var(--spacing-4, 1rem);
  align-self: stretch;
  flex-wrap: wrap;
}

.skill__item {
  background: var(--Gray-Darker, #2e2e48);
  display: flex;
  width: 13.2435rem;
  padding: var(--spacing-4, 1rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.skill__item:hover {
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25rem);
}

.skill__link {
  text-decoration: none;
}
.skill__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
}
.skill__title {
  color: var(--color-base-white, #fff);
  text-align: center;

  /* text-base/normal */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-2xl, 1.5rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-6, 1.5rem); /* 150% */
  letter-spacing: var(--font-letter-spacing-normal, 0rem);
}

.skill__description {
  align-self: stretch;
  color: var(--Gray-Light, #acb1c3);
  text-align: center;

  /* text-base/normal */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-base, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-6, 1.5rem); /* 150% */
  letter-spacing: var(--font-letter-spacing-normal, 0rem);
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
