<section class="projects-list">
  <h3 class="projects-list__title">Projects</h3>
  <div class="projects-list__content">
    @for (project of projects; track $index) {
    <section class="project">
      <!-- @if (project.image) {
      <app-image
        [name]="project.image"
        [alt]="project.title"
        [height]="project.image?.height"
        [width]="project.image?.width"
        [type]="'images'"
      ></app-image>
      } -->
      <div class="project__content">
        <h4 class="project__title">{{ project.title }}</h4>
        <div class="project__message-list">
          @for (message of project.messageList; track $index) {
          <p class="project__message">
            <strong>{{ message.title }}</strong>
            : {{ message.description }}
          </p>
          }
        </div>
        @if (project.link) {
        <a [href]="project.link" target="_blank" class="project__link">
          <app-image
            [name]="'link-icon.svg'"
            [alt]="'link-icon'"
            [height]="16"
            [width]="16"
            [type]="'icons'"
          ></app-image>
          {{ project.link }}
        </a>
        }
      </div>
    </section>
    }
  </div>
</section>
