.projects-list {
  display: flex;
  padding-right: var(--spacing-4, 1rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4, 1rem);
}

.projects-list__title {
  color: var(--Gray-Lightest, #e2e6ee);

  /* text-3xl/bold */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-3xl, 1.875rem);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--font-line-height-9, 2.25rem); /* 120% */
  letter-spacing: var(--font-letter-spacing-normal, 0rem);
}

.projects-list__content {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem var(--spacing-8, 2rem);
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  max-width: 30em;
  background: var(--Gray-Darker, #2e2e48);
}

.project__header {
  display: flex;
  flex-direction: column;
}

.project__content {
  padding: 1rem 1.75rem;
}

.project__title {
  padding: 1rem 1.75rem 0;
  color: var(--Gray-Lightest, #e2e6ee);
  font-family: var(--font-family-sans, Inter);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: var(--7, 1.75rem); /* 140% */
  letter-spacing: var(--normal, 0rem);
}

.project__message {
  color: var(--Gray-Light, #acb1c3);
  font-family: var(--font-family-sans, Inter);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--6, 1.5rem);
  letter-spacing: var(--normal, 0rem);
}

.project__link {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;
  color: var(--Secondary-Light, #95aafb);
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-sm, 0.875rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-6, 1.5rem);
  letter-spacing: var(--font-letter-spacing-normal, 0rem);
  align-items: center;
}

.project__message-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.project__image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  transition: transform 0.3s ease;
}
