.hero__positions {
  display: flex;
  align-items: center;
  gap: var(--spacing-2, 8px);
  align-self: stretch;
  flex-wrap: wrap;
}

.hero__positions-text {
  /* text-sm/normal */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-sm, 14px);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-5, 20px); /* 142.857% */
  letter-spacing: var(--font-letter-spacing-normal, 0px);
  background: var(
    --Gradient-Primary,
    linear-gradient(90deg, #a478e8 0%, #516cf7 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__positions-item {
  display: flex;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
  align-items: center;
  gap: var(--spacing-3, 12px);
  border-radius: var(--radius-2xl, 16px);
  background: hsl(240deg 22% 13% / 54%);
  max-width: 100%;
  width: fit-content;
}

.hero__positions-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  padding: var(--spacing-1, 4px) var(--spacing-3, 12px);
  max-width: 100%;
}

.hero__positions-tag {
  border-radius: var(--radius-full, 9999px);
  background: hsl(240, 22%, 23%);
  padding: var(--spacing-1, 4px) var(--spacing-3, 12px);
}
