<app-mobile-menu>
  <main class="main">
    <header class="main__header">
      <div class="main__header-wrapper">
        <nav class="main__navigation" aria-label="Navigation links">
          <a [routerLink]="['/']">
            <app-image
              [name]="headerData.navigation.logo.name"
              [alt]="headerData.navigation.logo.alt"
              [height]="headerData.navigation.logo.height"
              [width]="headerData.navigation.logo.width"
              [type]="'companies-logo'"
            ></app-image>
          </a>
          <app-navigation-links
            [linkList]="headerData.navigation.navigationLinks"
          ></app-navigation-links>
        </nav>
        <div class="main__additional-navigation">
          <app-social-media-links />
          <app-mobile-menu-button />
        </div>
      </div>
    </header>
    <div class="main__content">
      <app-hero></app-hero>
      <app-project-gallery></app-project-gallery>
      <app-resume></app-resume>
      <app-footer></app-footer>
    </div>
  </main>
</app-mobile-menu>
