<section class="experience" id="experience">
  <h2 class="experience__title">Experience</h2>
  <div class="experience__list">
    @for (data of dataList; track $index) {
    <section class="experience__item">
      <header class="experience__item-header">
        <app-dates-range
          [startDate]="data.startDate"
          [endDate]="data.endDate"
        ></app-dates-range>
        <div class="experience__item-company">
          @if (data.logo) {
          <app-image
            [name]="data.logo.name"
            [alt]="data.logo.name"
            [height]="data.logo.height"
            [width]="data.logo.width"
            [type]="'companies-logo'"
          ></app-image>
          }
          <div class="experience__item-details">
            <p class="experience__item-title">
              {{ data.title }}
            </p>
            <h3 class="experience__item-name">
              {{ data.companyName }}
            </h3>
            <p class="experience__item-location">
              <app-image
                [name]="'location-icon.svg'"
                [alt]="'location-icon.svg'"
                [height]="24"
                [width]="24"
                [type]="'icons'"
              ></app-image>
              {{ data.location }}
            </p>
          </div>
        </div>
      </header>
      <ul class="experience__item-achievements">
        @for (achievement of data.achievementList; track $index) {
        <app-ra-item [isLast]="!($index === data.achievementList.length - 1)">
          {{ achievement }}
        </app-ra-item>
        }
      </ul>
    </section>
    }
  </div>
</section>
