<section class="experience">
  <h2 class="experience__title">Experience</h2>
  <div class="experience__list">
    @for (experience of experience; track $index) {
    <section class="experience__item">
      <header class="experience__item-header">
        <p class="experience__item-date">
          Calendar icon {{ experience.startDate }} - {{ experience.endDate }}
        </p>
        <div class="experience__item-company">
          @if (experience.companyLogo) {
          <app-image
            [name]="experience.companyLogo.name"
            [alt]="experience.companyLogo.name"
            [height]="experience.companyLogo.height"
            [width]="experience.companyLogo.width"
            [type]="'companies-logo'"
          ></app-image>
          }
          <div class="experience__item-details">
            <p class="experience__item-title">
              {{ experience.title }}
            </p>
            <h3 class="experience__item-name">
              {{ experience.companyName }}
            </h3>
            <p class="experience__item-location">
              {{ experience.location }}
            </p>
          </div>
        </div>
      </header>
      <div class="experience__item-achievements">
        @for (achievement of experience.achivementList; track $index) {
        <p class="experience__item-achievement">{{ achievement }}</p>
        }
      </div>
    </section>
    }
  </div>

  <footer class="experience__footer">
    <a routerLink="/experience" class="experience__link">View All Experience</a>
  </footer>
</section>
