.hero {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  background: url("/assets/background/royeradames-background.svg") lightgray 50% /
    cover no-repeat;
  padding: 0 1rem 10rem 1rem;
}

.hero__navigation {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero__navigation-last-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero__title {
  color: var(--Gray-Lightest-2, #f7f9fc);

  /* text-5xl/normal */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-5xl, 3rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-size-5xl, 3rem); /* 100% */
  letter-spacing: var(--font-letter-spacing-normal, 0rem);
}

.hero__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 5rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.hero__image {
  @media (max-width: 128.75rem) {
    display: none;
  }
}
