.hero {
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  background: url("/assets/background/royeradames-background.svg") lightgray 50% /
    cover no-repeat;
}

.hero__content {
  /* Add styles for hero content container */
}

.current-technologies {
  /* Add styles for current technologies section */
}

.hero__navigation {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
