<section class="hero">
  <app-image
    class="hero__image"
    [name]="headerData.hero.image.name"
    [alt]="headerData.hero.image.alt"
    [height]="headerData.hero.image.height"
    [width]="headerData.hero.image.width"
    [type]="'images'"
  ></app-image>
  <div class="hero__wrapper">
    <header class="hero__header">
      <nav aria-label="Resume links">
        <app-navigation-links [linkList]="resumeLinks" />
      </nav>
      <h1 class="hero__title">{{ headerData.hero.title }}</h1>

      <div class="hero__navigation-last-items">
        @if(!!headerData.hero.titleDescription.length){
        <app-positions></app-positions>
        }
        <app-message />
      </div>
    </header>

    <div class="hero__content">
      <app-skill-list
        [skillList]="headerData.hero.currentTechnology"
        title="Current Technologies"
      ></app-skill-list>

      <app-contact></app-contact>
    </div>
  </div>
</section>
