<section class="hero">
  <app-image
    [name]="headerData.hero.image.name"
    [alt]="headerData.hero.image.alt"
    [height]="headerData.hero.image.height"
    [width]="headerData.hero.image.width"
    [type]="'images'"
  ></app-image>
  <div class="hero__content">
    <header>
      <nav class="hero__navigation">
        <a [routerLink]="['/']">
          <app-image
            [name]="headerData.navigation.logo.name"
            [alt]="headerData.navigation.logo.alt"
            [height]="headerData.navigation.logo.height"
            [width]="headerData.navigation.logo.width"
            [type]="'companies-logo'"
          ></app-image>
        </a>
        <app-navigation-links
          [linkList]="headerData.navigation.navigationLinks"
        ></app-navigation-links>
        <app-navigation-links [linkList]="resumeLinks"></app-navigation-links>
        <app-social-media-links></app-social-media-links>
        <app-mobile-menu-button></app-mobile-menu-button>
      </nav>
      <h1 class="hero__title">{{ headerData.hero.title }}</h1>

      @if(!!headerData.hero.titleDescription.length){
      <app-positions></app-positions>
      }

      <app-message></app-message>
    </header>

    <div class="hero__content-container">
      <section class="current-technologies">
        <ul class="current-technologies__list">
          @for (item of headerData.hero.currentTechnology; track $index) {
          <li class="current-technologies__item">
            <app-image
              [name]="item.icon"
              [alt]="item.title"
              [height]="34"
              [width]="34"
              [type]="'icons'"
            ></app-image>
            <div class="current-technologies__item-title">
              <a href="#">{{ item.title }}</a>
            </div>
            <div class="current-technologies__item-description">
              {{ item.description }}
            </div>
          </li>
          }
        </ul>
      </section>

      <section>
        <ul class="hero__contact-list">
          @for (item of headerData.hero.contact; track $index) {
          <li class="hero__contact-item">
            <app-image
              [name]="item.icon"
              [alt]="item.title"
              [height]="34"
              [width]="34"
              [type]="'icons'"
            ></app-image>
            <div class="hero__contact-item-title">
              {{ item.title }}
            </div>
            <div class="hero__contact-item-contactInfo">
              {{ item.contactInfo }}
            </div>
          </li>
          }
        </ul>
      </section>
    </div>
  </div>
</section>
