.footer {
  display: flex;
  min-height: var(--height-1200, 75rem);
  padding: 7rem 3.75rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: url(/assets/background/royeradames-background.svg) lightgray 50% /
    cover no-repeat;
  justify-content: space-between;
}

.footer__header {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  height: 100vh;
  justify-content: center;
}

.footer__title {
  color: #e2e6ee;

  /* text-9xl/bold */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-9xl, 8rem);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--font-size-9xl, 8rem); /* 100% */
  letter-spacing: var(--font-letter-spacing-normal, 0);

  @media (max-width: 46.875rem) {
    font-size: var(--font-size-7xl, 4.5rem);
    line-height: var(--font-size-7xl, 4.5rem);
  }
}

.footer__message {
  color: #e2e6ee;

  /* text-lg/normal */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-lg, 1.125rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-7, 1.75rem); /* 155.556% */
  letter-spacing: var(--font-letter-spacing-normal, 0);
}

.footer__contact-email {
  color: #e2e6ee;
  text-align: center;
  font-family: var(--font-family-Font-1, Inter);
  font-size: 1.2109rem;
  font-style: normal;
  font-weight: var(--font-weight-400, 400);
  line-height: var(--line-height-30, 1.875rem); /* 154.839% */
}

.footer__call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
