.footer {
  display: flex;
  min-height: var(--height-1200, 1200px);
  padding: 112px 60px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: url(/assets/background/royeradames-background.svg) lightgray 50% /
    cover no-repeat;
  justify-content: space-between;
}

.footer__header {
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 100vh;
  justify-content: center;
}

.footer__title {
  color: #e2e6ee;

  /* text-9xl/bold */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-9xl, 128px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--font-size-9xl, 128px); /* 100% */
  letter-spacing: var(--font-letter-spacing-normal, 0);

  @media (max-width: 750px) {
    font-size: var(--font-size-7xl, 72px);
    line-height: var(--font-size-7xl, 72px);
  }
}

.footer__message {
  color: #e2e6ee;

  /* text-lg/normal */
  font-family: var(--font-family-sans, Inter);
  font-size: var(--font-size-lg, 18px);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-7, 28px); /* 155.556% */
  letter-spacing: var(--font-letter-spacing-normal, 0);
}

.footer__contact-email {
  color: #e2e6ee;
  text-align: center;
  font-family: var(--font-family-Font-1, Inter);
  font-size: 19.375px;
  font-style: normal;
  font-weight: var(--font-weight-400, 400);
  line-height: var(--line-height-30, 30px); /* 154.839% */
}

.footer__call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
